@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
label {
    color: #5d5d5dff;
}
.bold {
    font-weight: 700;
}
p {
    color:#727272ff;
}
h2, h3 {
    color: #3e3d40ff;
}