html {
    font-size: 16px;
}

main {
    color: var(--h-purple-dark);
}
a {
    color: var(--h-purple);
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}
/* 'Special' Styles */
.bold {
    font-weight: 800;
}
.stars {
    color: var(--h-purple);
}
.stars.green {
    color: var(--h-green);
}

/* Box fonts */
.box.dark {
    color: var(--h-white);
}
.box.dark a{
    color: var(--h-white);
}
.box.dark .cards-box .card.darker {
    color: var(--h-white);
}
.box .stars {
    font-size: 1.3rem;
}
.box h2 {
    text-align: left;
}
.box .center {
    text-align: center;
}
.box h3 {
    font-size: 1.1rem;
}
.box .cards-box {
    line-height: 1.5rem;
}
.box .cards-box .review-card .rev-text {
    font-size: 0.85rem;
}