html {
    font-size: 16px;
}

* {
    font-family: var(--h-main-font);
}

.dark {
    color: var(--h-white);
}

.dark a{
    color: var(--h-white);
}

h2 {
    font-size: 1.5rem;
    color: var(--hostinger-purple-dark);
    text-align: center;
}

.box h2 {
    text-align: left;
}

/* FOR REVIEWSletter-spacing: 1px; */
h3 {
    font-size: 18px;
}

.box .cards-box {
    line-height: 1.5rem;
}

.rev-text {
    font-size: .9rem;
    color: var(--h-purple-dark);
}