@import url('./imports.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./font.css');

/* Center REV Circle Alejandro Gonzalez (third child) */
header {
    align-items: center;
    box-shadow: 0 4px 15px 1px rgba( 0, 0, 0, 0.1);
    /* display:flex */
    display: none;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    height: 89px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

header a {
    color: var(--text-color);
}
header a:hover {
    color: #606162;
}

.logo-lang {
    align-items: center;
    display: flex;
    gap: 28px;
}
.logo-lang .logo {
    width: 147px;
    /* height: 38px; */
}
.logo-lang .lang {
    display: flex;
    gap: 5px;
}
.logo-lang .lang .flag {
    width: 32px;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;    
}
.nav .nav-menu {
    align-items: center;
    display: flex;
    gap: 34px;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 20px 0 0;
}
.nav .nav-cta {
    align-items: center;
    border: 2px solid #1D1E20;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100px;
}

.dark {
    background-color: var(--h-purple);
}
/* Box Styling */
.box {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 60px 15px 85px 15px;
}
.box h2 {
    padding: 0 0 5px 0;
}
.box ul {
    list-style: None;
}
.box ul li:before {
    font-family: 'Bootstrap-icons';
    content:"\F633";
    margin-left: -17px;
}
.box li span {
    position: relative;
    left: 5px;
}
.box li {
    line-height: 1.5rem;
    margin: 15px 5px 0px 15px;
}
.box .content-box {
    display: flex;
    flex-direction: column;
}
.box .content-box .picture {
    width: 100%;
}
.box .content-box .picture img{
    width: inherit;
    padding: 22px 0;
}
.box .cards-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.box .cards-box .card{
    background-color: var(--h-card-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 33px;
    width: 100%;
}
.box .cards-box .card.darker{
    background-color: var(--h-purple-medium);
}
.box .cards-box .card .card-title {
    height: 31px;
}
.box .cards-box .card .card-title img{
    height: 100%;
}
.box .cards-box .card .card-link {
    display: flex;
    height: 20px;
    justify-content: space-between;
    text-align: left;
}
.box .cards-box .card .card-link.arrow i{
    position: relative;
    left: 200px;
}
.box .center {
    padding-bottom: 30px;
}
.box.review .cards-box {
    gap: 15px;
}
.box .cards-box .review-card {
    border: 1px solid var(--h-purple-light-1);
    border-radius: 5px;
    overflow: hidden;
}
.box .cards-box .review-card .card{
    background-color: var(--h-white);
    border: 0;
    border-radius: 0;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 52px;
}
.box .cards-box .review-card .card-author {
    align-items: center;
    border-top: 1px solid var(--h-purple-light-1);
    background-color: var(--h-purple-light-3);
    display: flex;
    gap: 10px;
    padding: 25px 30px;
}
.box .cards-box .review-card .card-author .author-photo {
    background-color: var(--h-purple);
    border-radius: 30px;
    height: 60px;
    width: 60px;
}
.box .cards-box .review-card .card-author .author-info {
    max-width: 145px;
}

@media screen and (min-width: 320px ) {
    
}

@media screen and (min-width: 650px ) {
    
}

@media screen and (min-width: 1050px ) {
    
}

@media screen and (min-width: 1600px ) {
    
}