@import url('./imports.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./font.css');



h2 {
    color: var(--hostinger-purple-dark);
    font-size: 38px;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px 0 0 0;
}

h3 {
    font-size: 18px;
}

.bold {
    font-weight: 800;
}

header {
    align-items: center;
    box-shadow: 0 4px 15px 1px rgba( 0, 0, 0, 0.1);
    /* display:flex */
    display: none;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    height: 89px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

header a {
    color: var(--text-color);
}

header a:hover {
    color: #606162;
}

.logo-lang {
    align-items: center;
    display: flex;
    gap: 28px;
}

.logo-lang .logo {
    width: 147px;
    /* height: 38px; */
}

.logo-lang .lang {
    display: flex;
    gap: 5px;
}
.logo-lang .lang .flag {
    width: 32px;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;    
}

.nav .nav-menu {
    align-items: center;
    display: flex;
    gap: 34px;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 20px 0 0;
}

.nav .nav-cta {
    align-items: center;
    border: 2px solid #1D1E20;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100px;
}

/* Security section */
.dark {
    background-color: var(--h-purple);
}
.content-box{}
.content-box .content {

}
.content-box .picture {
    widt
}
/* Client Review Cards */

.reviews {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviews a {
    color: var(--hostinger-purple);
}
.reviews .review-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.reviews .review-cards .rev-card {
    border: 1px solid var(--hostinger-purple-border);
    border-radius: 5px;
    color: var(--hostinger-purple-dark);
    display: flex;
    flex-direction: column;
    /* height: 450px; */
    overflow: hidden;
    width: 360px;
}

.reviews .review-cards .rev-card .card-cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 340px;
    justify-content: center;
    padding: 0 30px;
}

.reviews .review-cards .rev-card .card-cont .cont-stars {
    color: var(--hostinger-purple);
    font-size: 22px;
}

.reviews .review-cards .rev-card .card-text {
    font-size: 14px;
    /* height: 125px; */
    line-height: 24px;
}

.reviews .review-cards .rev-card .card-cont .card-text {
    height: 140px;   
}

.reviews .review-cards .rev-card .card-cont .cont-link:hover {
    color: #5025d1;
}

.reviews .review-cards .rev-card .card-author {
    align-items: center;
    border-top: 1px solid var(--hostinger-purple-border);
    background-color: var(--hostinger-purple-light);
    display: flex;
    gap: 10px;
    height: 113px;
    padding: 0 30px;
}

.reviews .review-cards .rev-card .card-author .author-photo {
    background-color: var(--hostinger-purple);
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

.reviews .review-btn {
    border: 2px solid var(--hostinger-purple);
    border-radius: 10px;
    height: 48px;
    text-align: center;
    padding: 12px;
    width: 325px;
}

.reviews .review-btn:hover {
    background-color: #EBE4FF;
}
