/* Variable */
:root {
    --text-color: #1D1E20;
    --hostinger-purple: #673DE6;
    --hostinger-purple-dark: #2F1C6A;
    --hostinger-purple-light: #F4F5FF;
    --hostinger-purple-border: #D5DFFF;
}